<div class="header">
    <header>
    <!--<img src="/" alt="logo">-->
    <h1><a href="/" class="header-logo">Mabonzo</a></h1>
    </header>
    <nav class="nav" id="nav-menu">
    <i class="fa fa-times-circle header-close" id="close-menu"></i>

    <ul class="nav-list">
        <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/pages/about.html">About</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/pages/popular">Popular </a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
    </ul>
    </nav>
    <i class="fa fa-bars header-toggle" id="toggle-menu"></i>
</div>