<tr>
    <td data-label="No.">{{ post.data.number }}</td>
    <td data-label="Name">{{ post.data.title }}</td>
    <td data-label="Description/ meaning/ cultural significance">{{ post.data.description }}</td>
    <td data-label="Language(s)">{{ post.data.language }}</td>
</tr>