---
title: About
layout: 'base-sans-header.njk'
---

<div class="header">
  <header>
    <!--<img src="/" alt="logo">-->
    <h1><a href="/" class="header-logo">Limbikani</a></h1>
  </header>
  <nav class="nav" id="nav-menu">
    <i class="fa fa-times-circle header-close" id="close-menu"></i>

    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active-nav-link" href="/pages/about">About</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="/pages/popular">Popular</a></li>
      <li class="nav-item"><a class="nav-link" href="/pages/contact">Contact</a></li>
    </ul>
  </nav>
  <i class="fa fa-bars header-toggle" id="toggle-menu"></i>
</div>
<main class="main-container">
  <section class="encyclo">
    <div>
      <div>
        <h2>Hey, I'm Xavier K Muneku!</h2>

        <p>
          Trying to do my part in making Zambia and the world at large a better
          place.
        </p>
        <p class="figcap center-text">Founder of Limbikani</p>
      </div>
      <div>
        <figure>
          <img src="/assets/images/profile.webp" alt="Xavier k Muneku" />
        </figure>
      </div>
    </div>
    <p>
      As a Zambian it hurts me to see the minimal original content that is on 
      the internet representing us Zambians, the funny part is that even the 
      minimal content present on the internet right now isn't even published 
      by Zambians most of the time. Henceforth the content delivered isn't 
      fact-checked thoroughly and the stories told aren't told from a common 
      Zambian's perspective.
    </p>

    <p>
      That's why I'm doing my part with the setting up of Limbikani a proudly 
      Zambian-owned website that is purposefully built to be an online encyclopedia 
      of Zambian names only. My hopes and prayers are that this initiative will help 
      motivate more Zambians to do the same and maybe we can increase the content 
      present on the net representing Zambians.
    </p>
    <p>
      Glad you've reached this bottom end and I'm intrigued to hear from you so
      get in touch with me on
      <a
        href="https://wa.me/213541145717?text=Hello%20Xavier%20I%20I%20visited%20your%20website%20please%20help%20me%20to%20find%20the%20meaning%20of%20my%20name."
        target="_blank"
        class="whatsapp-link"
        ><i class="fab fa-whatsapp"></i> WhatsApp</a
      >
      and let me know how we can help improve Zambia's representation on the
      internet.
    </p>
  </section>
</main>
