---
title: Popular
layout: 'base-sans-header.njk'
---

<div class="header">
  <header>
    <!--<img src="/" alt="logo">-->
    <h1><a href="/" class="header-logo">Limbikani</a></h1>
  </header>
  <nav class="nav" id="nav-menu">
    <i class="fa fa-times-circle header-close" id="close-menu"></i>

    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/about">About</a>
      </li>
      <li class="nav-item"><a class="nav-link active-nav-link" href="/pages/popular">Popular</a></li>
      <li class="nav-item"><a class="nav-link" href="/pages/contact">Contact</a></li>
    </ul>
  </nav>
  <i class="fa fa-bars header-toggle" id="toggle-menu"></i>
</div>
<main class="main-container">
  <div class="search-table-panel">
    <div>
      <div>
        <h2>The most popular names</h2>
      </div>
      <div>
        <input
          type="text"
          name="search"
          id="myInput"
          onkeyup="tableSearch()"
          placeholder="Search by Name..."
        />
      </div>
    </div>
    <div>
      <table
        class="table"
        id="myTable"
        data-filter-control="true"
        data-show-search-clear-button="true"
      >
        <thead>
          {% include 'row-thead.njk' %}
        </thead>

        <tbody>

          {% for post in collections.popular %}
            {% include 'row-snippet.njk' %}
          {% endfor %}
          
        </tbody>
      </table>
    </div>
    <div id="output"></div>
  </div>
</main>