---
title: Home page
layout: 'base-sans-header.njk'
---

<div class="header">
  <header>
  <!--<img src="/" alt="logo">-->
  <h1><a href="/" class="header-logo">Limbikani</a></h1>
  </header>
  <nav class="nav" id="nav-menu">
  <i class="fa fa-times-circle header-close" id="close-menu"></i>

  <ul class="nav-list">
      <li class="nav-item">
      <a class="nav-link active-nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/pages/about">About</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="/pages/popular">Popular</a></li>
      <li class="nav-item"><a class="nav-link" href="/pages/contact">Contact</a></li>
  </ul>
  </nav>
  <i class="fa fa-bars header-toggle" id="toggle-menu"></i>
</div>   
<main class="main-container">
  <section class="welcome-container">
    <div>
      <h2 class="welcome-title">Welcome to Limbikani!</h2>
    </div>
    <div>
      <p class="welcome-text">
        Limbikani is a Zambian website, which predominantly serves the purpose
        of defining Zambian names from all the 73 languages. 
      </p>

      <p class="welcome-text">
        <span class="figcap">Definition:</span>  A name is basically a word or set of words by which a person or
        thing is known, addressed, or referred to. A name is also much more
        than just a name! Hidden within your name is a SPECIAL meaning.
      </p>

      <p class="welcome-text">
        So you can browse through the names currently listed on here, if the name
        you're looking for isn't listed on our site yet lets us know on our
        <a
          href="https://wa.me/213541145717?text=Hello%20Limbikani%20I%20just%20visited%20your%20website%20please%20help%20me%20to%20find%20the%20meaning%20of%20my%20name."
          target="_blank"
          class="whatsapp-link"
          ><i class="fab fa-whatsapp"></i> WhatsApp</a
        >
        and we'll help you find the name and particular meaning of that name.
      </p>
    </div>
  </section>

  <section class="list-alphabet-container">
    <div>
      <hr class="hzontal-line-1" />
      <h2 class="center-text list-alphabet-title">
        Browse for the name you're looking for by letter.
      </h2>
    </div>
    <div>
      <ul class="list-alphabet">
        <li><a href="\pages\alphabet\names-starting-with-the-letter-a">A</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-b">B</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-c">C</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-d">D</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-e">E</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-f">F</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-g">G</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-h">H</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-i">I</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-j">J</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-k">K</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-l">L</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-m">M</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-n">N</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-o">O</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-p">P</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-q">Q</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-r">R</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-s">S</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-t">T</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-u">U</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-v">V</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-w">W</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-x">X</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-y">Y</a></li>
        <li><a href="\pages\alphabet\names-starting-with-the-letter-z">Z</a></li>
      </ul>
    </div>
    <div>
      <p class="center-text figcap">
        The important detail people forget is that a name is one of the few
        things a person owns and nobody can ever take it away from you.
      </p>
      <hr class="hzontal-line-2"/>
    </div>
  </section>

  <section class="origin-container">
    <div class="center-text origin-title">
      <h2>The Origins of Zambian Names.</h2>
    </div>
    <div class="origin-panel">
      <div>
        <figure>
          <img src="/assets/images/did-you-know.webp" alt="did you know" />
        </figure>
      </div>
      <div>
        <p>
          That as is common in many Bantu societies, Zambian names come from
          the natural environment, circumstances of birth and the social
          setting. Names from circumstances of birth include physical
          appearance, position of birth, place of birth, and so on. Those
          from the natural environment include names from plants, animals
          and other natural phenomena. Nevertheless, the broadest category
          in Zambian nomenclature is the socio-psychological environment.
        </p>
        <p>
          <span>Chanda Penda:</span>
          <span class="figcap">Encyclopedia of Zambian Names</span>
        </p>
      </div>
    </div>
  </section>

  <section class="available">
    <div>
      <h2 class="center-text">Things to Look for on Limbikani</h2>
    </div>
    <div class="card-container">
      <div class="card-wrapper">
        <div>
          <figure>
            <img src="/assets/images/baby.webp" alt="baby" />
          </figure>
        </div>
        <div>
          <p>
            Search for the perfect Zambian baby name on Limbikani today!
          </p>
        </div>
      </div>
      <div class="card-wrapper">
        <div>
          <figure>
            <img src="/assets/images/help.webp" alt="help" />
          </figure>
        </div>
        <div>
          <p>
            Help Limbikani make an online encyclopedia of Zambian names only.
          </p>
        </div>
      </div>
      <div class="card-wrapper">
        <div>
          <figure>
            <img
              src="/assets/images/learn-about-your-name.webp"
              alt="learn about your name"
            />
          </figure>
        </div>
        <div>
          <p>
            What can you learn about your Zambian name? Check on Limbikani.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
